<h1>Listing messages</h1>

<table class="table-striped">
  <tr>
	<th class="span1 text-left">Sender</th>
    <th class="span4 text-left">Subject</th>
    <th class="span2">Date</th>
    <th class="span1"></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
	<td><%= message.user.username %></td>
    <td><%= link_to message.subject, message %>  <%= render 'badge', :message => message %></td>
    <td><%= message.created_at %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path, :class => "btn btn-primary" %>
