<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class=>"span8 input-xxlarge" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :class=>"span8 input-xxlarge" %>
  </div>
  
  <% if cat_id %>
  	<%= f.hidden_field :category_id, :value => cat_id %>
  <% else %>
  	<div class="field">
    	<%= f.label :category_id %><br />
    	<%= f.number_field :category_id %>
  	</div>
  <% end %>

  <div class="field">
  	<%= f.fields_for :posts do |builder| %>
    	  <%= render "postcontent", :f => builder %>
    <% end %>
  </div>
  
</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
