<h1>Listing topics</h1>

<table class="table-striped">
  <tr>
	<th class="text-left span1">ID</th>
    <th class="text-left span2">Title</th>
    <th class="text-left span3">Description</th>
    <th class="text-left span2">Category</th>
    <th class="span1"></th>
    <th class="span1"></th>
	<th class="span1"></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
	<td><%= topic.id %></td>
    <td><%= topic.title %></td>
    <td><%= topic.description %></td>
    <td><%= topic.category.title %></td>
    <td><%= link_to 'Show', topic, :class => "btn btn-small" %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic), :class => "btn btn-small" %></td>
    <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
