<div><%= render "shared/breadcrumbs" , :activ => @topic.title, :category => @topic.category, :user => nil %></div>
<h1><%= @topic.title %></h1>
</br>

<% postnumber = 1 %>

<table class="table table-bordered">
	
	<% posts.each do |post| %>
	
		<%= render "postheader", :post => post, :postnumber => postnumber %>
		<% postnumber = postnumber + 1 %>
	
		<tr>
			<td>
				<%= render "postinfo", :user => post.user %>
			</td>
			<td><%= post.content %></td>
		</tr>
	
		<%= render "postcontrol", :post => post %>
	
	<% end %>
	
</table>

<%= will_paginate posts, :renderer => BootstrapPagination::Rails %>

<% if user_signed_in? %>
	<%= render "inputfield" %>
<% else %>
	<p>You mast be logged in to create a post.</p>
<% end %>