<%= render_breadcrumbs %>
<p id="notice"><%= notice %></p>
<h1><%= @user.username %>'s profile</h1>

<div class="thumbnail">
	<div class="pull-left small-padding">
	  	  <%= image_tag @user.avatar.url(:large) %>
	</div>

	<div>
		<p>
	  	  <b>Username:</b>
	  	  <%= @user.username %>
		</p>
		<p>
	  	  <b>First name:</b>
	  	  <%= @user.first_name %>
		</p>
		<p>
	  	  <b>Last name:</b>
	  	  <%= @user.last_name %>
		</p>
		<p>
	  	  <b>Member since:</b>
	  	  <%= @user.created_at.strftime("%F") %>
		</p>
		<p>
	  	  <b>Posts:</b>
	  	  <%= @user.posts.count %>
		</p>
	</div>
</div>
<br/ >
<% if current_user == @user %>
  <%= link_to 'Edit your profile', edit_user_registration_path , :class => "btn btn-primary" %>
<% end %>
<%= link_to 'Back', :back, :class => "btn btn-inverse" %>
